


.card-header {
    padding-top: 70px;
  }
  .card-body{
    max-width: 70%;
    margin: 50px auto;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 8px;
    color: black;
  }

  .card-footer{
    max-width: 50%;
    margin: 50px auto;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 8px;
    color: black;
  }
  