<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payslip</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Payslip</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Human Resource management</h5>
            </div>
        </div>
            <div class="col-md-4">
                <address>
              102, Banani, Dhaka.<br>
              Phone: 213123.<br>
              Email: hrm@gmail.com
            </address>
            </div>
            


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    Payslip for the period of December 2023
                    <br>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <br>
              <br>
              
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    
                    <b>Employee ID:</b> 123<br>
                    <b>Department:</b> Sales<br>
                    <b>Pay Date:</b> 23/04/2023<br>
                    <b>Days Worked:</b> 28<br>
                    <b>Account Name:</b> Asif Islam
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Employee Name:</b> Asif<br>
                    <b>Designation:</b> Manager<br>
                    <b>Date of Joining:</b> 23/04/2023<br>
                    <b>Bank Name:</b> Dutch Bangla<br>
                    <b>Account No:</b> sdfsx23422
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Invoice #007612</b><br>
                  <br>
                  <b>Order ID:</b> 4F3S8J<br>
                  <b>Payment Due:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <br>
              <br>
              <div class="col-12">
                

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Basic Salary:</th>
                      <td>$250.30</td>
                    </tr>
                    <tr>
                      <th>Medical Allowance</th>
                      <td>$10.34</td>
                    </tr>
                    <tr>
                      <th>House Rent:</th>
                      <td>$5.80</td>
                    </tr>
                    <tr>
                      <th>Bonus:</th>
                      <td>$265.24</td>
                    </tr>
                    <tr>
                        <th>Loan:</th>
                        <td>$265.24</td>
                      </tr>
                      <tr>
                        <th>Working Hours:</th>
                        <td>208</td>
                      </tr>
                      <tr>
                        <th>Tax(10%):</th>
                        <td>$10</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                      </tr>
                      <tr>
                        <th>Net Pay:</th>
                        <td>$265.24</td>
                      </tr>
                  </table>
                </div>
              </div>
              <!-- Table row -->
              
              <!-- /.row -->

              

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    
    </section>
    <!-- /.content -->
  </div>
  

