






<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              Leave Application
  
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Leave Application</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <!-- <div class="row">
      <div class="col-md-2">
        <a href="" routerLink="/addHoliday"><button type="button" class="btn
            btn-block bg-gradient-secondary btn-lg"><i class="fas fa-user-plus"></i>
            Holiday List</button></a>
      </div>
  
       <div class="col-md-2">
        <a href="" routerLink="/attenReport"><button type="button" class="btn
            btn-block bg-gradient-secondary btn-lg"><i class="fas fa-user-plus"></i>Leave
            Application</button></a>
      </div>
  
  
    </div> -->
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Application List</h3>
  
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control
                  float-right" placeholder="Search">
  
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Employee Name</th>
  
                  <th>Leave Type</th>
                  <th>Apply Date</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  
                  <th>Leave Status</th>
                  <th>Action</th>
  
  
                 
  
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of postList">
                  <td>{{v.id}}</td>
  
                  <td>{{v.name}}</td>
                  <td>{{v.type}}</td>
                  <td>{{v.applyDate}}</td>
                  <td>{{v.startDate}}</td>
                  <td>{{v.endDate}}</td>

          
                  <!-- <td ><span class="badge bg-success">{{v.status}}</span></td> -->

                  <td *ngIf="v.status == 'Approved'"><span class="badge bg-success">{{v.status}}</span></td>
                  <td *ngIf="v.status == 'Rejected'"><span class="badge badge-danger">{{v.status}}</span></td>

                  <td>
                    <button (click)="approveItem(v)" class="btn btn-success"><span class="badge badge">Approve</span></button>&nbsp;&nbsp;
                    <button (click)="rejectItem(v)" class="btn btn-danger"><span class="badge badge-danger">Reject</span></button>
                  </td>
  
  
                 
  
                </tr>
                
                  
                  
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  
  </div>
  
