
<div class="container">
<h2>Employee Details</h2>

   <a href="#" routerLink="manageEmp">Back</a>


   <table border="2">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile No</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Nationality</th>
        <th>NIC No</th>
        <th>Address</th>
        
    </tr>

    <tr>
        <td>{{ postList.id }}</td>
        <td>{{ postList.fname }}</td>
        <td>{{ postList.lname }}</td>
        <td>{{ postList.mobile }}</td>
        <td>{{ postList.email }}</td>
        <td>{{ postList.gender }}</td>
        <td>{{ postList.role }}</td>
        <td>{{ postList.nationality }}</td>
        <td>{{ postList.nic }}</td>
        <td>{{ postList.address }}</td>
    </tr>
   </table>

  <!-- <div>
    <b>ID:</b>
    <p>{{ postList.id }}</p>
  </div>

  <div>
    <b>First Name:</b>
    <p>{{ postList.fname }}</p>
  </div>

  <div>
    <b>Last Name:</b>
    <p>{{ postList.lname }}</p>
  </div>
  <div>
    <b>Mobile No:</b>
    <p>{{ postList.mobile }}</p>
  </div>
  <div>
    <b>Email:</b>
    <p>{{ postList.email }}</p>
  </div>
  <div>
    <b>Gender:</b>
    <p>{{ postList.gender }}</p>
  </div>
  <div>
    <b>Role:</b>
    <p>{{ postList.role }}</p>
  </div>
  <div>
    <b>Nationality:</b>
    <p>{{ postList.nationality }}</p>
  </div>
  <div>
    <b>NIC No:</b>
    <p>{{ postList.nic }}</p>
  </div>
  <div>
    <b>Address:</b>
    <p>{{ postList.address }}</p>
  </div> -->
</div>