




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            Holiday

          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Holiday</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="row">
    <div class="col-md-4">
      <a href="" routerLink="/addHoliday"><button type="button" class="btn
          btn-block bg-gradient-secondary btn-lg"><i class="fas fa-user-plus"></i>
          Add Holiday</button></a>
    </div>

    <div class="col-md-4">
      <a href="" routerLink="/leaveAppli"><button type="button" class="btn
          btn-block bg-gradient-secondary btn-lg"><i class="fas fa-user-plus"></i>Leave
          Application</button></a>
    </div>


  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Holiday List</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control
                float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>

                <th>Name</th>

                <th>Start Date</th>
                <th>End Date</th>
                <th>Days</th>


                <th>Action</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Victory Day</td>

                <td>12/04/23</td>
                <td>12/04/23</td>
                <td>2</td>


                <td><i class="fas fa-edit" routerLink="/employeeEdit"></i>&nbsp;&nbsp;
                  <i class="fas fa-trash-alt"></i></td>

              </tr>
              <tr>
                <td>Christmas</td>

                <td>12/04/23</td>
                <td>12/04/23</td>
                <td>2</td>


                <td><i class="fas fa-edit" routerLink="/employeeEdit"></i>&nbsp;&nbsp;
                  <i class="fas fa-trash-alt"></i></td>

              </tr>
              <tr>
                <td>Eid</td>

                <td>12/04/23</td>
                <td>12/04/23</td>
                <td>5</td>


                <td><i class="fas fa-edit" routerLink="/employeeEdit"></i>&nbsp;&nbsp;
                  <i class="fas fa-trash-alt"></i></td>

              </tr>
              <tr>
                <td>Durga Puja</td>

                <td>12/04/23</td>
                <td>12/04/23</td>
                <td>3</td>


                <td><i class="fas fa-edit" routerLink="/employeeEdit"></i>&nbsp;&nbsp;
                  <i class="fas fa-trash-alt"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

</div>
