







<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              Payroll
  
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Payroll</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
     <div class="row">
      <div class="col-md-4">
        <a href="" routerLink="/generatePayroll"><button type="button" class="btn
            btn-block bg-gradient-secondary btn-default"><i class="fas fa-calculator"></i>
            Generate Salary</button></a>
      </div>
  
       <!-- <div class="col-md-2">
        <a href="" routerLink="/attenReport"><button type="button" class="btn
            btn-block bg-gradient-secondary btn-lg"><i class="fas fa-user-plus"></i>Leave
            Application</button></a>
      </div> -->
  
  
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Paid List</h3>
  
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control
                  float-right" placeholder="Search">
  
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Employee ID</th>
                  <th>Employee Name</th>
                  <th>Department</th>
  
                  <th>Month</th>
                  <th>Salary</th>
                  
                  <th>Pay Date</th>
                  <th>Status</th>
                  <th>Action</th>
  
  
                 
  
  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123</td>
  
                  <td>Asif</td>
                  <td>November</td>
                  <td>$1000</td>
                  <td>0</td>
                  <td>184</td>
                  <td>0</td>
                  <td>12/04/23</td>
                  <td>Paid</td>
  
  
                 <td><a href="" routerLink="/paySlip"><i class="fas fa-print"></i></a></td>
  
                </tr>
                <tr>
                    <td>123</td>
    
                    <td>Asif</td>
                    <td>November</td>
                    <td>$1000</td>
                    <td>0</td>
                    <td>184</td>
                    <td>0</td>
                    <td>12/04/23</td>
                    <td>Paid</td>
    
    
                   <td><a href=""><i class="fas fa-print"></i></a></td>
    
                  </tr>
                  <tr>
                    <td>123</td>
    
                    <td>Asif</td>
                    <td>November</td>
                    <td>$1000</td>
                    <td>0</td>
                    <td>184</td>
                    <td>0</td>
                    <td>12/04/23</td>
                    <td>Paid</td>
    
    
                   <td><a href=""><i class="fas fa-print"></i></a></td>
    
                  </tr>
                  <tr>
                    <td>123</td>
    
                    <td>Asif</td>
                    <td>November</td>
                    <td>$1000</td>
                    <td>0</td>
                    <td>184</td>
                    <td>0</td>
                    <td>12/04/23</td>
                    <td>Paid</td>
    
    
                   <td><a href=""><i class="fas fa-print"></i></a></td>
    
                  </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  
  </div>
  
