
<div class="content-wrapper">
  
    <div class="card card-default">
      <div class="card">
  
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="" data-toggle="tab" routerLink="/createEmp">Basic Information</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-toggle="tab" routerLink="/employeeEducationForm">Academic Information</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-toggle="tab" routerLink="/bankAccInformation">Bank Account Information</a></li>
          </ul>
        </div>
  
        <form [formGroup]="form2" (ngSubmit)="submit()">
  
      <div class="card-body">
        
          <!-- <form [formGroup]= "form2" (ngSubmit)= "submit()"> -->
        <h2>Bank Account Information</h2>
  
        <input type="number" hidden id="id" formControlName ="id">
        <div class="form-group">
          <label for="first-name">Bank Name</label>
          <input type="text" class="form-control" id="first-name" formControlName = "bankName">
        </div>
        <div class="form-group">
          <label for="last-name">Account Name</label>
          <input type="text" class="form-control" id="last-name" formControlName = "accountName">
        </div>
        <div class="form-group">
          <label for="mobile-no">Account No</label>
          <input type="text" class="form-control" id="mobile-no" formControlName = "accountNo">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Branch</label>
          <input type="text" class="form-control" id="exampleInputEmail1"  formControlName = "branch">
        </div>
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="paymentMethod">Payment Method</label><br>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Check" formControlName="method"> Check
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Bank Transfer" formControlName="method"> Bank Transfer
          </div>
        </div>
      </div>
  
        <!-- <div class="form-group">
          <label for="department">Department :</label>&nbsp;
          <select name="department" id="department" formControlName = "department">
            <option value="Administration">Administration</option>
            <option value="Customer Support">Customer Support</option>
            <option value="Research">Research</option>
            <option value="Finance">Finance</option>
  
          </select>
        </div> -->
       
        
        
      <!-- /.card-body -->
  
  
  
  
      <br>
      <!-- <div class="card-footer-manage">
        <button type= "button" class= "btn btn-primary" routerLink= "manageEmp">Manage Employee</button>
      </div> -->
  
      <div class="card-footer" style="align-self: center;">
        <div class="flex-parent jc-center">
          <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
          <!-- <button type= "submit" class= "btn btn-primary" routerLink= "manageEmp">Manage Employee</button> -->
        </div>
      </div>
    <!-- </form> -->
  
    
    </div>
  </form>
    </div>
  
    
  </div>
  
  
  </div>
  
  
  
  